body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F6F6F6;
}

section {
  margin: 0 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card{
  width: 40%;
  padding: 24px 32px;
  background-color: #fff;
  border-radius: 20px;
  color: #9FA2B2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 16px;
  min-width: 240px;
  max-width: 320px;
}


.card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

h1{
  color: #222;
  margin: 10px 0px;
  font-size: 2rem;
}

h2 {
  color: #222;
  margin: 10px 0px;
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  color: #222;
  margin: 10px 0px;
  font-weight: 300;
}

button{
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 1rem;
  background-color: #9896f0;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #005fa3;
}

@media (max-width: 900px) {
  .card {
      max-width: 90vw;
  }
  .container {
      flex-direction: column;
      align-items: center;
      gap: 16px;
  }
}
